<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://code.alibabatech.com/schema/dubbo        
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<context:annotation-config />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<context:component-scan base-package="com.fishingmate" />
	

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>app.properties</value>
				<value>mongodb.properties</value>
				<value>tomcat.properties</value>
			</list>
		</property>
	</bean>

	<bean id="tomcatConfig" class="com.fishingmate.infrastructure.config.TomcatConfig">
		<property name="acceptCount" value="${tomcat.acceptCount}"></property>
		<property name="connectionTimeout" value="${tomcat.connectionTimeout}"></property>
		<property name="maxConnections" value="${tomcat.maxConnections}"></property>
		<property name="maxThreads" value="${tomcat.maxThreads}"></property>
		<property name="port" value="${tomcat.port}"></property>
		<property name="protocol" value="${tomcat.protocol}"></property>
		<property name="uriEncoding" value="${tomcat.uriEncoding}"></property>
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!-- 核心线程数，默认为1 -->
		<property name="corePoolSize" value="10" />
		<!-- 最大线程数，默认为Integer.MAX_VALUE -->
		<property name="maxPoolSize" value="200" />
		<!-- 队列最大长度，一般需要设置值>=notifyScheduledMainExecutor.maxNum；默认为Integer.MAX_VALUE -->
		<property name="queueCapacity" value="100000" />
		<!-- 线程池维护线程所允许的空闲时间，默认为60s -->
		<property name="keepAliveSeconds" value="300" />

		<!-- 线程池对拒绝任务（无线程可用）的处理策略 -->
		<property name="rejectedExecutionHandler">
			<!-- AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
			<!-- CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
			<!-- DiscardOldestPolicy:抛弃旧的任务 ；会导致被丢弃的任务无法再次被执行 -->
			<!-- DiscardPolicy:抛弃当前任务 ；会导致被丢弃的任务无法再次被执行 -->
			<bean class="com.fishingmate.infrastructure.thread.LogRejectedPolicy" />
		</property>
	</bean>

	<bean id="performanceMonitorAdvice"
		class="com.ymatou.performancemonitorclient.PerformanceMonitorAdvice">
		<property name="appId" value="${appId}"></property>
		<property name="serverUrl" value="${perfmonapi.url}"></property>
	</bean>

	<aop:config>
		<aop:advisor advice-ref="performanceMonitorAdvice"
			pointcut="execution(* com.fishingmate.facade.*Facade.*(..))
						|| execution(* com.fishingmate.integration.client.*Client.*(..)))
						|| execution(* com.fishingmate.domain.repository.*Repository.*(..))))
						" />
	</aop:config>

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="${appId}" />
	<dubbo:registry address="zookeeper://${dubbo.zoo}" timeout="30000" />

	<!-- 协议注册 -->
	<dubbo:protocol name="dubbo" port="${dubbo.port}" />
	<dubbo:protocol name="rest" server="servlet" port="${rest.port}"
		extension="com.fishingmate.infrastructure.serialize.JacksonConfig" />

	<!-- 服务注册 -->
	<dubbo:service ref="systemFacade" protocol="rest"
				   interface="com.fishingmate.facade.SystemFacade" />
	<dubbo:service ref="fishingMapFacade" protocol="rest,dubbo"
				   interface="com.fishingmate.facade.FishingMapFacade" />
		

</beans>